.container,
.container-fluid {
    color: whitesmoke;
}

#intro_title {
    font-family: 'Abel', cursive;
    font-weight: 800;
    margin-right: 250px;
}

#intro_text {
    font-family: 'Abel', cursive;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 25px;
}

#intro_img {
    position: absolute;
    height: 500px;
    width: 700px;
    margin-right: 20%;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
    right: 0;
}

#textbox {
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    height: 350px;
    width: 500px;
    z-index: 1;
}

#textbox,
#textbox_mobile {
    background-color: #2e2933ec;
    border: 1px solid #043a64bd;
    box-shadow: -1px 0 8px -2px #000000;
}

#icon-git {
    height: 44px;
    width: 40px;
    filter: invert(100%);
    z-index: 3;
    margin-right: 10px;
}

#icon-lnki {
    height: 48px;
    width: 40px;
    filter: invert(100%);
    z-index: 3;
    margin-right: 10px;
}

#icon-res {
    height: 40px;
    width: 32px;
    filter: invert(100%);
    z-index: 3;
}

#intro_section {
    height: 80vh;
}

#about_me {
    background-color: #2e2933d3;
    border: 1px solid #043a64bd;
    box-shadow: -1px 0 8px -2px #000000;
    border-radius: 10px;
}

p {
    text-indent: 2rem;
}

#intro_section_mobile {
    display: none;
}

#about_img {
    width: 700px;
    border: 1px solid #043a64bd;
    border-radius: 10px;
    box-shadow: 5px 0 10px -2px #000000;
    float: left;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#intro_img_mobile {
    width: 150px;
    float: right;
}

@media only screen and (max-width: 1400px) {

    #intro_section {
        display: none;
    }

    #intro_img {
        display: none;
    }

    #about_img {
        width: 50%;
    }

    #intro_section_mobile {
        display: block;
    }
}