body {
  background-image: linear-gradient(#1e1922, #143f70ee), url(/img/bg.jpg);
  font-family: 'Abel', sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}